<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabinete do Comandante - AVISO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .titulo{
            font-family: 'Anton', sans-serif;
        }
        .subtitulo {
            font-family: 'Great Vibes', cursive;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="card bg-dark">
                <div class="col-12">
                    <div class="row">
                        <div class="col-2 mt-2 h-auto w-10 	d-none d-sm-block">
                            <img src="https://www.3bsup.eb.mil.br/images/logo.png" class="img-fluid shadow-lg"
                                alt="logo 3 bsup" />
                        </div>
                        <div class="col-10 text-center">
                            <div class="col-12 text-light mt-2">
                                <h1 class="titulo">3º Batalhão de Suprimento</h1>
                                <h3 class="text-muted subtitulo"><i>"Batalhão Marechal Bitencourt"</i></h3>
                            </div>
                            <div class="col-12 mt-3">
                                <ul class="list-inline">
                                    <li class="list-inline-item position-sicky"><a class="btn btn-dark btn-lg"
                                            href="https://www.3bsup.eb.mil.br/">Internet</a></li>
                                    <li class="list-inline-item position-sicky"><a class="btn btn-dark btn-lg"
                                            href="mailto:informatica@3bsup.eb.mil.br">Suporte</a></li>
                                    <li class="list-inline-item"><a class="btn btn-dark btn-lg" href="https://cpex.eb.mil.br/index.php?option=com_wrapper&view=wrapper&Itemid=265">Contracheque</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="container mt-5 mb-5">
                
                <h1>Prezado Usuário</h1>
                <div class="row mt-5 text-justify">
                    <section>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <footer class="sticky-bottom bg-dark text-center mx-auto">
                    <section class="text-light">
                        
                        <address><i>
                            Desenvolvido por Sgt Souza Lima e Cb Eduardo<br>
                            <br>
                            3º Batalhão de Suprimento<br>
                            Estrada de Morretes, s/n - Nova Santa Rita, RS</i>
                        </address>
    
                    </section>
                </footer>
            </div>
        </div>
    </div>
    
</body>

</html>